<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.maven.selenium.PracticeTest"/>
      <class name="test.maven.selenium.ApiTest"/>
      <class name="test.maven.selenium.TestSelenium"/>
      <class name="test.maven.selenium.ExcelDataExtractTest"/>
      <class name="test.maven.selenium.ExcelPracticeTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
